*{
    margin: 0px;
    padding: 0px;
}

#cart-shopping{
    width: 40px;
    height: 40px;
}

.taskbar{ 
    display: flex;
    background-color: rgba(225, 19, 93, 1);
    
}

.section-second{
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-styles{
    margin-left: 5px;
}

.section-first{
    text-align: center;
}

.text-first{
    margin-top: 0px;
    margin-bottom: 5%;
    color: white;
}